@import vars
@import fonts
@import libs


::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $black

p
	margin: 0

ul 
	list-style-type: none
	padding: 0
a
	text-decoration: none
	&:hover, &:active
		text-decoration: none


@import nav-bar

