@import vars
@import fonts
@import libs

.nav-bar
	position: fixed
	left: 0
	top: 0
	width: 60px
	height: 100vh
	background-color: $bg-nav-bar
	display: flex
	flex-direction: column
	transition: all .8s
	overflow: hidden
	&:hover
		width: 300px
		.nav-bar__logo a img:last-child
			width: 41px
			opacity: 1
		.info, .user__more, .item a .item__text
			width: 100%
			opacity: 1
		.item a .item__control
			width: 22px
			opacity: 1
		.item a:focus
			background: none
		

.nav-bar__logo a
	display: flex
	margin-left: 19px
	margin-top: 20px
	img:last-child
		transition: all .9s
		width: 0
		opacity: 0
		margin-left: 2px
		margin-top: 2px

.user--active
	display: flex
	flex-wrap: nowrap
	margin-top: 43px
	margin-left: 15px


.user__avatar
	width: 30px
	height: 30px
	background-color: $blue
	color: #fff
	font-size: 20px
	line-height: 30px
	font-weight: 200
	text-align: center
	border-radius: 100%
	flex-shrink: 0
	margin-top: 1px
	cursor: pointer

.info
	margin-left: 9px
	width: 0
	opacity: 0
	transition: opacity 1s
	.info__user-name
		font-size: 14px
		font-weight: 400
		color: $text-nav-bar
		white-space: nowrap
		line-height: 13px
		cursor: pointer
		&:hover
			text-decoration: underline
	.info__user-balance
		color: $yellow
		font-size: 12px
		line-height: 25px
		white-space: nowrap
		span
			color: $gray
			
.user__more
	flex-grow: 1
	display: flex
	justify-content: flex-end
	transition: opacity 1s
	width: 0
	opacity: 0
	img
		cursor: pointer
		margin-bottom: 3px
		margin-right: 12px
		&:hover
			fill: $accent

.menu 
	margin-top: 11px
	overflow: auto
	&::-webkit-scrollbar 
    width: 0px
	.item
		.level-2
			overflow: hidden
			transition: .5s
			height: 0
			.item__text
				margin-left: 58px
			.level-3 .item__text
				margin-left: 68px
		.active
			height: 288px
		a
			display: flex	
			height: 46px
			align-items: center	
			transition: .7s
			&:hover
				background-color: $hover-nav-bar
			&:focus
				border-left: 4px solid $accent
				background-color: $hover-nav-bar
				.item__text
					color: $accent
				.item__control
					transform: rotate(180deg)

			.item__icon
				margin-left: 15px
			.item__text
				color: $text-nav-bar
				font-size: 14px
				margin-left: 11px
				margin-bottom: 3px
				opacity: 0
				overflow: hidden
				width: 0
				transition: 1s
				white-space: nowrap
			.item__control
				opacity: 0
				overflow: hidden
				width: 0
				margin-right: 21px

